form.form-horizontal(role='form')
    legend Sprint
    .form-group
        label.col-sm-2.control-label(for='start') Start                
        .col-sm-4
            input(ui-date, ng-model='sprint.startDate').form-control
    .form-group
        label.col-sm-2.control-label(for='length') Length                
        .col-sm-4
            input(ng-model='sprint.length').form-control
    .col-sm-6
        button.btn.btn-primary(type='button',ng-click='save(sprint)').pull-right Save
    
    
    