doctype html
html(ng-app='scrello')
    head
        title= title
        link(rel='stylesheet',href='lib/jquery-ui/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet',href='lib/bootstrap/dist/css/bootstrap.css')
        script(type='text/javascript',src='lib/jquery/dist/jquery.js')
        script(type='text/javascript',src='lib/jquery-ui/ui/jquery-ui.js')
        script(type='text/javascript',src='lib/angular/angular.js')
        script(type='text/javascript',src='lib/angular-route/angular-route.js')
        script(type='text/javascript',src='lib/angular-ui-date/src/date.js')
        script(type='text/javascript',src='app/js/app.js')
        script(type='text/javascript',src='app/js/filters.js')
        script(type='text/javascript',src='app/js/controllers.js')
        script(type='text/javascript',src='app/js/services.js')
        script(type='text/javascript',src='app/js/directives.js')
        script(type='text/javascript',src='lib/bootstrap/dist/js/bootstrap.js')
    body
        nav(role="navigation", ng-controller='NavCtrl').navbar.navbar-default
            .navbar-header
                button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#" ).navbar-brand #{title}
                ul.nav.navbar-nav
                    li.dropdown(ng-if="organizations")
                        a.dropdown-toggle(data-toggle='dropdown', href='#') {{organization.name}}
                            b.caret                        
                        ul.dropdown-menu
                            li(ng-repeat='org in organizations')
                                a(href='#') {{org.name}}                
            .collapse.navbar-collapse.navbar-ex1-collapse
        block content                