doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(src='/js/jquery-1.9.1.min.js', type='text/javascript')
    script(src='/js/bootstrap.js', type='text/javascript' )
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button(type="button", data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar.collapsed
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/',title='Scrello')  Scrello
          .nav-collapse.collapse(style="height: 0px")
            ul.nav
              li: a(href='/',title='Home')  Home
              li: a(href='/About',title='About')  About
